@import "tailwindcss";


/* In your global.css file */
@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }



/* Add this in App.css or index.css */
@keyframes fadeInOut {
    0% { opacity: 0; transform: scale(0.95); }
    10% { opacity: 1; transform: scale(1); }
    90% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.95); }
  }
  
  .animate-fade-in-out {
    animation: fadeInOut 2s ease-in-out forwards;
  }